[Task Development][2]      @Task-Reviewers
/tasks/

[CI-CD]                 @jettplay
/scripts/
/.gitlab-ci.yml
/.pre-commit-config.yaml
/install_hooks.sh

[General]               @jettplay
/.gitignore
/README.md
/CODEOWNERS
/example/
/pages/
